<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">

    <div class="sidebar-header">

      <img src="http://www.gravatar.com/avatar/<%= gravatar_icon(current_customer.email) %>" />
      <h2><%= current_customer.name %></h2>
      <h3><%= current_customer.email %></h3>
      <h3 class="text-center"><b>Credit:</b> <%= current_customer.credit %></h3>
    </div>

    <ul class="nav" id="side-menu">
      <li>
        <a class="<%= 'active' if current_page?(customer_path) %>" href="<%= url_for :controller => 'customer', :action => 'dashboard' %>"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
      </li>
      <li>
        <a class="<%= 'active' if current_page?(customer_calls_path) %>" href="<%= url_for :controller => 'customer', :action => 'calls' %>"><i class="fa fa-phone fa-fw"></i>Calls</a>
      </li>
      <li>
        <a class="<%= 'active' if current_page?(customer_accounts_path) %>" href="<%= url_for :controller => 'customer', :action => 'accounts' %>"><i class="fa fa-phone-square fa-fw"></i>Accounts</a>
      </li>
      <li>
        <a class="<%= 'active' if current_page?(customer_prices_path) %>" href="<%= url_for :controller => 'customer', :action => 'prices' %>"><i class="fa fa-usd fa-fw"></i>Prices</a>
      </li>
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
