<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Prices</h1>
  </div>
<!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTable">
          <thead>
            <tr>
              <th><%= link_to_sorted "Prefix", :prefix %></th>
              <th><%= link_to_sorted "Route", :route_name %></th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <% @prices_customer.each do |p| %>
            <tr class="odd gradeX">
              <td><%= p.prefix %></td>
              <td><%= p.route_name %></td>
              <td><%= p.final_price_for_route(p.route_id, p.price_list) %></tr>
            <% end %>
           </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= paginate @prices_customer, theme:"turbobil" %>
   </div>
</div>
